{% extends 'student_management_app/home.html' %}
{#教师下所有界面统一这部分#}
{% block login_display %}
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">教师界面</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'teacher_profile' %}">个人信息</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'show_courses' %}">课程相关信息</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2>Welcome to Teacher Home!</h2>
{% endblock content %}